<div class="container">
  <section class="card">
    <h1>Tasks manager</h1>
    <form [formGroup]="form">
      <header>
        <div>
          <input
            formControlName="description"
            placeholder="Task description..."
            id="item"
            type="text"
            class="form-control"
          />
        </div>
        <div>
          <button (click)="addTask()" class="btn-add">+</button>
        </div>
      </header>
    </form>
    <section>
      <ul *ngFor="let task of tasks()">
        <li>
          <span [class.completed]="task.check" (click)="toggleCompletedTask(task)">{{ task.description}}</span>
        </li>
      </ul>
      <div *ngIf="tasks().length">
        <footer>
          <button class="button-delete" (click)="deleteAllTasks()">
            <span> Delete all tasks </span>
          </button>
        </footer>
      </div>
    </section>
  </section>
</div>
