<div class="container">
  <section class="card">
    <h1 class="card__title">Tasks manager</h1>
    <form class="card__form" [formGroup]="form">
      <header class="container__header">
        <div>
          <input
            formControlName="description"
            placeholder="Task description..."
            id="item"
            type="text"
            class="form-control container__header__input"
          />
        </div>
        <div>
          <button (click)="addTask()" class="container__header__button-add">+</button>
        </div>
      </header>
    </form>
    <section>
      <ul *ngFor="let task of tasks">
        <li class="card__item">
          <span class="card__item__text" [class.card__item-completed]="task.check" (click)="toggleCompletedTask(task)">{{ task.description }}</span>
        </li>
      </ul>
      <div *ngIf="tasks.length">
        <footer>
          <button class="card__button-delete" (click)="deleteAllTasks()">
            <span> Delete all tasks </span>
          </button>
        </footer>
      </div>
    </section>
  </section>
</div>
