body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #737171;
    
}

:root{
    --primary: #ff9d00;
    --secondary:#ff7700;;
    --tertiary: #d35400;
    --quarternary: #c5570d;
}